.info-container {
	position: sticky;
	top: 0;
}
.profile-header-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}
.profile-header-container img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
}
.profile-header-container h4,
.profile-header-container p {
	margin: 0;
}
.break-container {
	margin-top: 50px;
}
.bracks-times {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 20px;
}
.bracks-times a {
	text-decoration: none;
	color: #777;
}
.bracks-times {
	background-color: lightyellow;
	padding: 10px;
}
.timeBtn {
	width: 40px;
	height: 40px;
	border: none;
	/* background-color: gray; */
	margin-left: 10px;
	padding: 10px;
	border-radius: 50%;
}
.timeBtn:hover {
	background-color: darksalmon;
	cursor: pointer;
}
.showBrackAndTimes {
	margin-top: 50px;
}
.break-container h2,
.showBrackAndTimes h2,
.showBrackAndTimes h4 {
	margin-bottom: 20px;
}
.activityBtn {
	width: 100%;
	border: none;
	background-color: darksalmon;
	padding: 10px 30px;
	color: white;
	border-radius: 5px;
}
.activityBtn:hover {
	color: black;
	cursor: pointer;
}
