h2,
h4 {
	margin: 0;
}
.club-container {
	display: grid;
	grid-template-columns: 4fr 1fr;
}
.gym-container {
	margin: 0;
	padding: 20px 5%;
}
.gym-cart {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 45px;
	padding-top: 20px;
}
